<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="trigger-footer">
        <a class="page-link" href="terms-of-use">Terms of use</a>
        <a class="page-link" href="privacy-policy">Privacy policy</a>
    </div>

    <div class="social-and-action">
      <div class="social-and-action-right">
        <a href="https://twitter.com/universalidhq">
          <img class="site-social-footer" src="assets/images/link-twitter-white.png" alt="Universal Identity on Twitter">
        </a>
        <a href="https://github.com/universal-id">
          <img class="site-social-footer" src="assets/images/link-github-white.png" alt="Universal Identity on GitHub">
        </a>
        <a href="https://medium.com/universal-identity">
          <img class="site-social-footer" src="assets/images/link-medium-white.png" alt="Universal Identity on Medium">
        </a>
      </div>
    </div>
  </div>

</footer>
